<mat-action-list>
  <button
    mat-list-item
    (click)="onChatSelect(chat.id)"
    *ngFor="let chat of chats"
    class="h-auto p-0 py-2"
  >
    <div class="container">
      <div class="row">
        <div class="col-auto ps-0">
          <img
            class="rounded-circle"
            height="56px"
            [src]="chat.groupImageURL"
          />
        </div>
        <div class="col">
          <h3 class="m-0">{{ chat.groupName }}</h3>
        </div>
      </div>
    </div>
  </button>
</mat-action-list>
