<button
  *ngIf="chatMetadata"
  mat-list-item
  class="h-auto my-2"
  (click)="onClick()"
>
  <div class="container">
    <div class="row">
      <div class="col-auto p-0">
        <img
          class="rounded-circle"
          height="56px"
          [src]="chatMetadata.groupImageUrl"
          *ngIf="chatMetadata.type == 'group'"
        />
        <img
        *ngIf="chatMetadata.type == 'dm' && myId != chatMetadata.userId1 && users[chatMetadata.userId1]"
        class="rounded-circle"
        height="56px"
        [src]="users[chatMetadata.userId1].profileImage"
        />
        <img
        *ngIf="chatMetadata.type == 'dm' && myId != chatMetadata.userId2 && users[chatMetadata.userId2]"
        class="rounded-circle"
        height="56px"
        [src]="users[chatMetadata.userId2].profileImage"
        onerror="'error'"
        />
      </div>
      <div class="col">
        <span *ngIf="chatMetadata.type == 'group'">{{ chatMetadata.groupName }}</span>
        <span *ngIf="chatMetadata.type == 'dm' && myId != chatMetadata.userId1 && users[chatMetadata.userId1]">{{ users[chatMetadata.userId1].displayName }}</span>
        <span *ngIf="chatMetadata.type == 'dm' && myId != chatMetadata.userId2 && users[chatMetadata.userId2]">{{ users[chatMetadata.userId2].displayName }}</span>
        <span *ngIf="lastMessage" style="float: right">{{
          lastMessage.createdAt | date: "shortTime"
        }}</span>
        <p
          *ngIf="lastMessage && users[lastMessage.uid]"
          class="pt-2 text-muted"
        >
          {{ users[lastMessage.uid].displayName }}:
          <ng-container *ngIf="lastMessage.type == 'text'">{{
            lastMessage.message
          }}</ng-container>
          <ng-container *ngIf="lastMessage.type == 'image'"
            >shared an image</ng-container
          >
        </p>
      </div>
    </div>
  </div>
</button>
