<div class="container my-2 border chat-container">
  <ng-container *ngIf="chatMetadata">
    <div class="row p-2 chat-header" (click)="onChatInfo()">
      <div class="col-auto px-2">
        <img
          class="rounded-circle"
          height="72px"
          width="72px"
          [src]="chatImageUrl"
          *ngIf="chatImageUrl"
        />
      </div>
      <div class="col-auto">
        <h1>{{ chatTitle }}</h1>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div #messageSection class="row message-section">
      <div class="col">
        <div
          class="row text-break pt-1"
          *ngFor="let msg of messages; trackBy: trackByCreated"
        >
          <div class="col-auto">
            <img
              class="rounded-circle"
              height="48px"
              width="48px"
              [src]="users[msg.uid]?.profileImage"
            />
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <span class="mat-body-strong pe-3">
                  {{ users[msg.uid]?.displayName }}
                </span>
                {{ msg.createdAt | date: "shortTime" }}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div [ngSwitch]="msg.type" class="col">
                  <p *ngSwitchCase="'text'">
                    {{ msg.message }}
                  </p>
                  <img
                    *ngSwitchCase="'image'"
                    class="chat-image"
                    [src]="msg.message"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="imageUrl" class="row py-4">
      <div class="col-auto">
        <img class="chat-image" src="{{ imageUrl }}" />
      </div>
      <div class="col-auto">
        <mat-spinner
          *ngIf="imageLoading"
          [diameter]="50"
          mode="indeterminate"
        ></mat-spinner>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field
          class="w-100"
          hintLabel="Max 1024 characters"
          [style.fontSize]="'20px'"
        >
          <mat-label>Message</mat-label>
          <textarea
            #inputMessage
            matInput
            maxlength="1024"
            cdkTextareaAutosize
            cdkAutosizeMaxRows="5"
            [formControl]="messageControl"
            (keydown.enter)="sendMessage($event)"
            autocomplete="off"
          ></textarea>
          <mat-hint align="end"
            >{{ inputMessage.value?.length || 0 }}/1024</mat-hint
          >
          <button mat-icon-button matSuffix (click)="sendMessage($event)">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-auto pb-4 align-self-end">
        <input
          style="display: none"
          type="file"
          accept="image/*"
          (change)="onImageSelect($event)"
          #hiddenImageInput
        />
        <button mat-flat-button (click)="hiddenImageInput.click()">
          Image
        </button>
      </div>
    </div>
  </ng-container>
</div>
