/* This is a hack to avoid unnecessary scroll. Refer to: https://github.com/angular/components/issues/12902 */
textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
}

.chat-image {
  max-width: 50%;
}

.chat-container {
  height: calc(100% - 16px);
}

.message-section {
  height: calc(100% - 170px);
  overflow: auto;
}

.chat-header {
  cursor: pointer;
}

.header-image {
  height: 48px;
  width: 48px;
}

@media (min-width: 600px) {
  .header-image {
    height: 64px;
    width: 64px;
  }
}
