<div class="container">
  <div class="row">
    <div class="col">
      <h1>Group Id: {{ chatId }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row" *ngFor="let msg of messages">
        <div class="col-auto">{{ msg.uid }}</div>
        <div [ngSwitch]="msg.type" class="col">
          <p *ngSwitchCase="'text'">
            {{ msg.message }}
          </p>
          <img
            *ngSwitchCase="'image'"
            class="chat-image"
            src="{{ msg.message }}"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="imageUrl" class="row py-4">
    <div class="col-auto">
      <img class="chat-image" src="{{ imageUrl }}" />
    </div>
    <div class="col-auto">
      <mat-spinner
        *ngIf="imageLoading"
        [diameter]="50"
        mode="indeterminate"
      ></mat-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100" [style.fontSize]="'20px'">
        <mat-label>Input message</mat-label>
        <textarea
          #inputMessage
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"
          [formControl]="messageControl"
          (keydown.enter)="sendMessage()"
          autocomplete="off"
        ></textarea>
        <mat-error *ngIf="messageControl.invalid">Character limit exceeded</mat-error>
        <button mat-icon-button matSuffix (click)="sendMessage()" [disabled]="!messageControl.valid">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-auto pb-4 align-self-end">
      <input
        style="display: none"
        type="file"
        accept="image/*"
        (change)="onImageSelect($event)"
        #hiddenImageInput
      />
      <button mat-flat-button (click)="hiddenImageInput.click()">Image</button>
    </div>
  </div>
</div>
