/* This is a hack to avoid unnecessary scroll. Refer to: https://github.com/angular/components/issues/12902 */
textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
}

.chat-image {
  max-width: 50%;
}

.chat-container {
  height: calc(100% - 110px);
}

.message-section {
  height: calc(100% - 170px);
  overflow: auto;
}

.chat-header {
  cursor: pointer;
}
