<mat-toolbar>
  <a class="text-reset" routerLink="/groups">
    <button mat-button>
      <span>Groups</span>
    </button>
  </a>
  <a class="create-group">
    <button mat-button (click)="createNewGroup()">
      <span>Create Group</span>
    </button>
  </a>
  <span class="spacer"></span>
  <button mat-button (click)="openProfileDialog()">Profile</button>
  <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [disableClose]="true"
    [autoFocus]="false"
    (swipeLeft)="sidenav.close()"
  >
    <app-chat-list (chatSelect)="onChatSelect($event)"></app-chat-list>
  </mat-sidenav>
  <mat-sidenav-content (swipeRight)="sidenav.open()" (swipeLeft)="sidenav.close()">
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
