.sidenav-container {
  height: calc(100% - 56px);
}

.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 600px) {
  .sidenav-container {
    height: calc(100% - 64px);
  }

  .sidenav {
    width: 350px;
  }
}
