<mat-toolbar (window:resize)="onResize($event)">
  <a class="text-reset" routerLink="/groups">
    <button mat-button>
      <span>Groups</span>
    </button>
  </a>
  <a class="create-group">
    <button mat-button (click)="createNewGroup()">
      <span>Create Group</span>
    </button>
  </a>
  <span class="spacer"></span>
  <button mat-button (click)="openProfileDialog()">Profile</button>
  <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
    <!-- <code>
      <pre>{{windowa |json}}</pre>
    </code> -->
    <!-- <p>{{windowa.innerHeight}}</p> -->

    <!-- <button (click)="onResizee()">onResize</button> -->
<mat-sidenav-container class="sidenav-container" [style.height.px]="windowa.innerHeight - 56">
  <mat-sidenav
    #sidenav
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [disableClose]="true"
    [autoFocus]="false"
    (swipeLeft)="swipeLeft($event)"
  >
    <app-chat-list (chatSelect)="onChatSelect($event)"></app-chat-list>
  </mat-sidenav>
  <mat-sidenav-content (swipeRight)="swipeRight($event)">
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- <p>{{windowHeight}}</p> -->
    <p>{{vHeight}}</p>
    <p>{{windowa.innerHeight}}</p>
  </mat-sidenav-content>
</mat-sidenav-container>
