<ng-container *ngIf="isCropImage; else sendImage">
  <div class="container">
    <div class="row pt-3 pb-2">
      <div class="col">
        <input
        type="file"
        id="userImage"
        (change)="onInputChange($event)"
        accept="image/*"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div #imageEdit></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-progress-bar
        class="mb-2"
        *ngIf="loading"
        mode="indeterminate"
      ></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-center pb-2">
      <div class="col-auto">
        <button mat-button [disabled]="!croppie" id="submit" (click)="submit()">
          Submit
        </button>
      </div>
      <div class="col-auto">
        <button mat-button mat-dialog-close id="cancel">Cancel</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #sendImage>
  <div class="container custom-container">
    <div class="row align-items-center">
      <div class="col text-truncate">
        <h1 class="text-truncate">{{ recipient }}</h1>
      </div>
      <div class="col-auto align-self-end pb-3">
        <button mat-flat-button mat-dialog-close>
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <img src="{{ imageUrl }}" class="img-fluid"/>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col w-100">
        <mat-progress-bar
        *ngIf="loading"
        mode="indeterminate"
        ></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-end pt-3">
      <div class="col-auto">
        <button mat-flat-button class="pe-0" (click)="sendImage()">
          <mat-icon>
            send
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

