<mat-toolbar>
  <a class="text-reset" routerLink="/login">
    <button mat-button class="p-1 p-lg-3">
      <span>Login</span>
    </button>
  </a>
  <a class="text-reset" routerLink="/register">
    <button mat-button class="p-1 p-lg-3">
      <span>Register</span>
    </button>
  </a>
  <a class="text-reset" routerLink="/classes">
    <button mat-button class="p-1 p-lg-3">
      <span>Classes</span>
    </button>
  </a>
  <a class="text-reset" routerLink="/subs">
    <button mat-button class="p-1 p-lg-3">
      <span>Subs</span>
    </button>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
