<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="group-image my-0">
        <img src="{{ chatMetadata.groupImageUrl }}" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto text-truncate">
      <h2 class="m-1 text-center text-truncate">{{ chatMetadata.groupName }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <small>{{ chatMetadata.createdAt | date: "short" }}</small>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row pb-2 justify-content-center">
    <div class="col">
      <mat-card class="custom-card">
        <mat-card-title> About </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="pt-2">
          {{ chatMetadata.groupDescription }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="custom-card">
        <mat-card-title>Members</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="pt-2">
          <div *ngFor="let user of chatMembers">
            <div class="row align-items-center">
              <div class="col-auto px-0">
                <img class="display-image" src="{{ user.profileImage }}" />
              </div>
              <div class="col pe-0 text-truncate">
                <h3 class="text-truncate">{{ user.displayName }}</h3>
              </div>
              <div class="col-auto">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="sendDM(user)"
                >
                  <mat-icon>message</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row py-2 justify-content-center">
    <div class="col-auto">
      <div *ngIf="!isSubscribed; else Unsubscribe">
        <button
          mat-raised-button
          color="primary"
          (click)="onJoin()"
          [mat-dialog-close]="true"
        >
          Join
        </button>
      </div>
      <ng-template #Unsubscribe>
        <button
          mat-raised-button
          color="warn"
          (click)="unSubscribe()"
          [mat-dialog-close]="true"
        >
          Leave
        </button>
      </ng-template>
    </div>
  </div>
</div>
