<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="group-image my-0">
        <img src="{{ chatMetaData.groupImageUrl }}" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2 class="m-1 text-center">{{ chatMetaData.groupName }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <small>{{ chatMetaData.createdAt | date: "short" }}</small>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row pt-1">
    <div class="col px-0">
      <h2 class="mb-0">About</h2>
    </div>
  </div>
  <div class="row pb-2 justify-content-center">
    <div class="col">
      <mat-card class="group-description">
        <mat-card-content>
          {{ chatMetaData.groupDescription }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider class="w-100"></mat-divider>
  <div class="row pt-1 justify-content-center">
    <div class="col px-0">
      <h2 class="my-0">Members</h2>
    </div>
  </div>
  <mat-card class="members">
    <div *ngFor="let user of chatMembers">
      <mat-card-content>
        <div class="row justify-content-center">
          <div class="col-auto px-0">
            <img class="display-image" src="{{ user.profileImage }}" />
          </div>
          <div class="col pe-0 display-name">
            <h2 class="text-truncate">{{ user.displayName }}</h2>
          </div>
          <div class="col-auto">
            <button mat-raised-button color="primary">
              <mat-icon>message</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
  <div class="row pt-2 justify-content-center">
    <div class="col-auto">
      <button mat-raised-button color="primary" (click)="onJoin()">Join</button>
    </div>
  </div>
</div>
