<div style="height: 550px; min-width: 480px">
  <img
    class="dialog-img rounded mx-auto d-block"
    src="https://picsum.photos/seed/{{ selectedClass.id }}/256/?random&img={{
      selectedClass.id
    }}"
    alt="http://placehold.it/256/163a63"
  />
  <div class="container">
    <div class="row pt-2 justify-content-center">
      <div class="col-auto">
        <h2 style="margin: 1px">
          {{ selectedClass.subject }} {{ selectedClass.course }}
        </h2>
      </div>
      <div class="row pb-1 justify-content-center">
        <div class="col-auto text-muted">
          <small>[date created]</small>
        </div>
      </div>
    </div>
  </div>
  <mat-card style="margin-bottom: 10px">
    <mat-card-title class="pb-2">About</mat-card-title>
    <mat-card-content>
      <p>{{ selectedClass.description }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title class="pb-2">Members</mat-card-title>
    <mat-card-content>
      <div class="container">
        <div class="row pb-2" *ngFor="let user of chatMembers">
          <div class="col-auto p-0">
            <img
              class="rounded profile-img"
              src="{{ user.profileImage }}"
              alt="http://placehold.it/256/163a63"
            />
          </div>
          <div class="col-auto align-self-center">
            <h2 style="margin: 0px">{{ user.displayName }}</h2>
          </div>
          <div class="col btn align-self-center" *ngIf="subscribed">
            <button mat-raised-button color="primary">Message</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="py-3">
    <button
      mat-raised-button
      class="mx-auto d-block primary"
      color="primary"
      (click)="onJoinSelectInDialog()"
      [mat-dialog-close]="true"
    >
      Join
    </button>
  </div>
</div>
