<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">New Group</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col mx-5 image-hover-element">
      <img
        class="img-fluid group-image"
        src="{{ groupImageUrl }}"
        alt="Image not available"
        (click)="selectGroupImage()"
      />
      <div class="text">Upload Image</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <mat-form-field
        class="w-100"
        hintLabel="Max 32 characters"
        appearance="outline"
      >
        <mat-label>Enter Group Name</mat-label>
        <input
          matInput
          #name
          maxlength="32"
          type="text"
          [formControl]="groupName"
        />
        <mat-hint align="end">{{ name.value?.length || 0 }}/32</mat-hint>
        <mat-error *ngIf="groupName.invalid"
          >Please enter a group name</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field
        class="w-100"
        hintLabel="Max 256 characters"
        appearance="outline"
      >
        <mat-label>Enter Group Description (Optional)</mat-label>
        <textarea
          matInput
          #description
          maxlength="256"
          type="text"
          [formControl]="groupDescription"
        ></textarea>
        <mat-hint align="end"
          >{{ description.value?.length || 0 }}/256</mat-hint
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        mat-flat-button
        class="w-100"
        [mat-dialog-close]="true"
        [disabled]="!groupName.valid"
        (click)="createGroup()"
      >
        Create Group
      </button>
    </div>
  </div>
</div>
