.create-group-page {
  max-width: 350px;
  min-width: 250px;
  width: 100%;
  padding: 0%;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 100%;
}

.text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-hover-element:hover .image {
  opacity: 0.3;
}

.image-hover-element:hover .text {
  opacity: 1;
}
