img {
  border-radius: 50%;
  cursor: pointer;
}

.profile-image {
  height: 200px;
  width: 200px;
}

.formGroup {
  margin-bottom: -20px;
}

.custom-icon {
  transform: scale(0.75);
  cursor: pointer;
}
