<div class="profile">
  <mat-card>
    <div class="image">
      <img src="{{ imageURL }}" (click)="onImageClick()" alt="Image not available">
    </div>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span style="flex: 1 1 auto;">
          Email: <span class="tab1">{{ email }}</span>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="height: auto;">
        <div *ngIf="toggle; else toggleOff" style="flex: 1 1 auto;">
          <p style="float: left; margin-top: 12px">
            Display Name: &nbsp;{{ displayName.value }}
          </p>
          <button mat-stroked-button (click)="toggle = !toggle; toggle_password = true" style="float: right; margin-top: 5px;">edit</button>
        </div>
        <ng-template #toggleOff>
          <p style="float: left; margin-top: 35px;">
            Display Name:
            <mat-form-field appearance="outline">
              <input matInput type="text" [formControl]="displayName">
            </mat-form-field>
          </p>
          <button mat-stroked-button (click)="onDisplayNameClick()">
            Save
          </button>
          <button mat-stroked-button (click)="cancelDisplayName()">
            Cancel
          </button>
        </ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div *ngIf="toggle_password; else toggleOff_password" style="flex: 1 1 auto;">
          <p style="float: left; margin-top: 12px">
            Password:<span class="tab2">********</span>
          </p>
          <button mat-stroked-button (click)="toggle_password = !toggle_password; toggle = true" style="float: right; margin-top: 5px;">edit</button>
        </div>
        <ng-template #toggleOff_password>

        </ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
</div>


<!--
<div class="profile">
  <div class="card">
    <div class="image">
      <img
        src="{{ imageURL }}"
        (click)="onImageClick()"
        alt="Image not available"
      />
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p style="float: left; margin-top: 12px">
          Email: <span class="tab1">{{ email }}</span>
        </p>
      </li>
      <li class="list-group-item">
        <div *ngIf="toggle; else toggleOff">
          <p style="float: left; margin-top: 12px">
            Display Name: &nbsp;&nbsp;&nbsp;{{ displayName.value }}
          </p>
          <button
            mat-stroked-button
            (click)="toggle = !toggle; toggle_password = true"
            style="float: right"
          >
            edit
          </button>
        </div>
        <ng-template #toggleOff>
          <p>
            Display Name:
            <input type="text" [formControl]="displayName" />
          </p>
          <button mat-stroked-button (click)="onDisplayNameClick()">
            Save
          </button>
          <button mat-stroked-button (click)="cancelDisplayName()">
            Cancel
          </button>
        </ng-template>
      </li>
      <li class="list-group-item">
        <div *ngIf="toggle_password; else toggleOff_password">
          <p style="float: left; margin-top: 12px">
            Password:<span class="tab2">********</span>
          </p>
          <button
            mat-stroked-button
            (click)="toggle_password = !toggle_password; toggle = true"
            style="float: right"
          >
            edit
          </button>
        </div>
        <ng-template #toggleOff_password>
          <form [formGroup]="passwordForm" (ngSubmit)="onPasswordChange()">
            <div class="formGroup">
              <label>
                <input
                  type="text"
                  formControlName="old_password"
                  placeholder="Old Password"
                />
              </label>
            </div>
            <div class="formGroup">
              <label>
                <input
                  type="text"
                  formControlName="new_password"
                  placeholder="New Password"
                />
              </label>
            </div>
            <div class="formGroup">
              <label>
                <input
                  type="text"
                  formControlName="confirm_password"
                  placeholder="Confirm Password"
                />
              </label>
              <button
                mat-stroked-button
                type="submit"
                [disabled]="!passwordForm.valid"
              >
                Save
              </button>
              <button mat-stroked-button (click)="cancelPassword()">
                Cancel
              </button>
            </div>
          </form>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
-->
