img {
  border-radius: 50%;
  max-width: 200px;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.formGroup {
  margin-bottom: -20px;
}

.custom-icon {
  transform: scale(0.75);
  cursor: pointer;
}