img {
    border-radius: 50%;
}

.image {
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.display_name {
    display: flex;
    justify-content: center;
}

.display_password {
    display: flex;
    justify-content: center;
}