<div class="container">
  <div class="row">
    <mat-form-field class="mw-100">
      <mat-label>Search Your Group</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        [ngModelOptions]="{ standalone: true }"
        placeholder="ECE 49595"
        (keyup)="filterDisplayedGroups()"
      />
    </mat-form-field>
  </div>
  <div class="row py-2" *ngFor="let group of displayedGroups">
    <div class="col-auto">
      <img
        class="rounded profile-img"
        src="{{ group.groupImageUrl }}"
        alt="http://placehold.it/256/163a63"
      />
    </div>
    <div class="col">
      <button
        type="button"
        class="btn bg-transparent btn-lg"
        (click)="onGroupInfo(group)"
      >
        <b>{{ group.groupName }}</b>
      </button>
    </div>
    <div class="col align-self-center">
      <div *ngIf="subscribedGroups.includes(group.id); else join">
        <button
          mat-raised-button
          class="w-25"
          color="primary"
          (click)="unSubscribe(group)"
        >
          Leave
        </button>
      </div>
      <ng-template #join>
        <button
          mat-raised-button
          class="w-25"
          color="primary"
          (click)="onJoin(group)"
        >
          Join
        </button>
      </ng-template>
    </div>
  </div>
</div>
