.home-title {
  line-height: 80px;
  font-size: 60px;
}

@media (min-width: 600px) {
  .home-title {
    line-height: 80px;
    font-size: 80px;
  }
}

/* This is a hack to allow scrolling on main page */
.home-container {
  height: 100%;
  overflow-y: auto;
}
