<div class="container-fluid home-container p-0">
  <div class="row m-0 py-4 bg-dark"></div>
  <div
    class="row py-5 m-0 justify-content-center text-white"
    style="font-size: 80px; background: rgb(0, 140, 255)"
  >
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-auto text-center home-title">Welcome to PChat</div>
      </div>
      <div class="row py-3 justify-content-center">
        <div class="col-auto text-center lead">
          A reliable, free-to-use college group chat application
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <a routerLink="/login">
            <button class="btn-lg btn-dark">
              <span>Login</span>
            </button>
          </a>
        </div>
        <div class="col-auto">
          <a routerLink="/register">
            <button class="btn-lg btn-dark">
              <span>Register</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-3 py-5 m-0">
    <div class="col col-lg-8 mx-auto">
      <div class="row">
        <div class="col h3">About PChat</div>
      </div>
      <div class="row">
        <div class="col lead" style="line-height: 30px" align="justify">
          Our PChat web application seeks to be a public chat application made
          by and for college students. A place to have public group chats for
          each class, including clubs and organizations, where current and
          prospective students can join and interact with one another. Each
          group is created to facilitate easier interactions among like minded
          peers and be a place for discussion.
        </div>
      </div>
    </div>
  </div>

  <div class="row px-3 py-5 m-0 bg-light">
    <div class="col">
      <div class="row">
        <div class="col col-lg-8 mx-auto h3">Features</div>
      </div>
      <div class="row">
        <div class="col col-lg-8 mx-auto lead" style="line-height: 30px">
          <ul>
            <li>Group chat creation and messaging</li>
            <li>Direct messaging between registered members</li>
            <li>Image sharing through any chat</li>
            <li>Group invites and notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-3 m-0" style="padding: 50px 0">
    <div class="col col-lg-8 mx-auto">
      <div class="row">
        <div class="col h3">Project Repository</div>
      </div>
      <div class="row">
        <div class="col-auto">
          <a
            href="https://github.com/mburakyucel/purdue-chat"
            target="_blank"
            style="text-decoration: none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-github"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              />
            </svg>
          </a>
        </div>
        <div class="col-auto h4 p-0 m-0">
          <a
            href="https://github.com/mburakyucel/purdue-chat"
            target="_blank"
            style="text-decoration: none"
            >GitHub</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 py-5"></div>
  <div
    class="row w-100 m-0 py-4 bg-dark justify-content-center text-white"
    style="position: fixed; bottom: 0"
  >
    <div class="col-auto">PChat 2021</div>
  </div>
</div>
