<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input matInput type="text" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Password</mat-label>
              <input matInput type="text" formControlName="password" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-progress-bar color="accent" *ngIf="this.loading" mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <button [disabled]="this.loading || !registerForm.valid" mat-raised-button color="accent" (click)="this.register()">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>