<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="mitch@purdue.com"
              />
              <mat-error *ngIf="email.invalid">{{
                getEmailErrorMsg()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="passwordHide ? 'password' : 'text'"
                class="form-control"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="passwordHide = !passwordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passwordHide"
              >
                <mat-icon>{{
                  passwordHide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="password.invalid">{{
                getPasswordErrorMsg()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-progress-bar
              color="accent"
              *ngIf="this.loading"
              mode="indeterminate"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="row justify-content-center pt-2">
          <div class="col-auto">
            <button
              [disabled]="this.loading || !registerForm.valid"
              mat-raised-button
              color="accent"
              (click)="this.register()"
            >
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
