<div class="container-fluid p-0 h-100" style="background: rgb(0, 140, 255)">
  <div class="row m-0 pt-1 bg-dark">
    <div class="col text-light">
      <a routerLink="/home">
        <button class="btn lg bg-dark text-light">
          <mat-icon class="h2">keyboard_backspace</mat-icon>
        </button>
      </a>
    </div>
  </div>

  <div class="row w-100 m-0 justify-content-center text-center transform-card">
    <div class="col-auto" style="width: 500px">
      <mat-card class="py-4">
        <mat-card-title class="mat-card-title">
          Welcome to PChat</mat-card-title
        >
        <mat-card-subtitle class="text-muted pb-3 pt-2 mat-card-subtitle">
          Please enter your email and password
        </mat-card-subtitle>
        <mat-card-content>
          <form [formGroup]="registerForm">
            <div class="row">
              <div class="col">
                <mat-form-field class="w-100 pb-2" style="font-size: x-large">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="johnDoe@purdue.edu"
                  />
                  <mat-error *ngIf="email.invalid">{{
                    getEmailErrorMsg()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="w-100" style="font-size: x-large">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="passwordHide ? 'password' : 'text'"
                    class="form-control"
                    formControlName="password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passwordHide"
                  >
                    <mat-icon>{{
                      passwordHide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.invalid">{{
                    getPasswordErrorMsg()
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-progress-bar
                  color="accent"
                  *ngIf="this.loading"
                  mode="indeterminate"
                ></mat-progress-bar>
              </div>
            </div>
            <div class="row justify-content-center py-2">
              <div class="col-auto">
                <button
                  class="btn-lg btn-dark"
                  color="accent"
                  [disabled]="this.loading || !registerForm.valid"
                  (click)="this.register()"
                >
                  Register
                </button>
              </div>
            </div>
            <div class="row m-0 justify-content-center pt-2">
              <div class="col-auto text-muted">
                <a routerLink="/login" style="text-decoration: none">
                  Login instead
                </a>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    class="row w-100 m-0 justify-content-center text-white py-4 bg-dark"
    style="position: fixed; bottom: 0"
  >
    <div class="col-auto">PChat 2021</div>
  </div>
</div>
