<div class="container">
  <div class="row">
    <mat-form-field class="mw-100">
      <mat-label>Search Your Class</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchText"
        [ngModelOptions]="{ standalone: true }"
        placeholder="ECE 49595"
        (keyup)="filterDisplayedGroups()"
      />
    </mat-form-field>
  </div>
  <div class="row py-2" *ngFor="let group of displayedGroups">
    <div class="col-auto">
      <img
        class="rounded profile-img"
        src="https://picsum.photos/seed/{{ group.id }}/256/?random&img={{
          group.id
        }}"
        alt="http://placehold.it/256/163a63"
      />
    </div>
    <div class="col">
      <h2>{{ group.groupName }}</h2>
    </div>
    <div class="col align-self-center">
      <button mat-raised-button color="primary" (click)="onSelect(group)">
        Join
      </button>
    </div>
  </div>
</div>
