<h2>Class List</h2>
<ul class="classes" style="list-style-type: none">
  <li
    *ngFor="let class of classes"
    [class.selected]="class === selectedClass"
    (click)="onSelect(class)"
  >
    <svg
      class="material-icons"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
    {{ class.subject }} {{ class.course }}
  </li>
</ul>

<div *ngIf="selectedClass">
  <h2>Subscribed to {{ selectedClass.subject }} {{ selectedClass.course }}</h2>
  <div>{{ selectedClass.id }}</div>
</div>
